<div class="widget profile-inner">
    <div class="base-info profile-block">
      <img id="avatar" src="<%= theme.profile.headimg%>">
      <h2 id="name"><%= theme.profile.name%></h2>
      <h3 id="title"><%= theme.profile.description%></h3>
      <span id="location"><i class="fa fa-map-marker"></i><%= theme.profile.location%></span>
    </div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        <%= site.posts.length %>
        <span>posts</span>
      </div>
      <div class="article-info-block">
        <%= site.tags.length %>
        <span>tags</span>
      </div>
    </div>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          <td><a href="<%= theme.SNS.github%>" target="_blank" title="github"><i class="fa fa-github"></i></a></td>
          <td><a href="<%= theme.SNS.twitter%>" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></td>
          <td><a href="<%= theme.SNS.facebook%>" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></td>
          <td><a href="<%= theme.SNS.weibo%>" target="_blank" title="新浪微博"><i class="icon-weibo"></i></a></td>
          <td><a href="/atom.xml" target="_blank" title="rss"><i class="fa fa-rss"></i></a></td>     
          <td><a href="<%= theme.SNS.zhihu%>" target="_blank" title="知乎"><i class="icon-zhihu"></i></a></td>     
        </tr>
      </table>
    </div>
  </div>