<div class="alignleft">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
  . Powered by <a href="http://hexo.io/" style="color:#999;">Hexo. </a>
  <a href="http://www.miitbeian.gov.cn/" style="color:#999;"><%= config.icp %>.</a><img alt="知识共享许可协议" style="border-width:1px" src="<%- config.root %>cc-by-sa.png"> 除非另有声明，本站的文字内容均在<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">知识共享 署名-相同方式共享 4.0协议</a>之条款下提供。
  <div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12010302001093" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="<%- config.root %>beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"><%= config.beian %></p></a>
  </div>
</div>
<div class="clearfix"></div>
  <%- partial('analytics') %>